* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

body {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  overflow-x: hidden;

}

button:focus,
input:focus {
    outline: 2px solid #ff0000; 
    outline-offset: 2px;
}

/* Input page */

.firstHeader img {
  width: 100%;
  object-fit: cover;
  height: 10rem;
  border: 0.1rem solid black;
}

.inicialPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.inicialPage h1 {
  margin-bottom: 0.5rem;
}

.ashImage {
  height: 25rem;
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.firstForm {
  margin-top: 1rem;
}

.firstInput {
  height: 2.26rem;
  width: 15rem;
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.myBtn {
  height: 2.2rem;
  width: 2.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 0.1rem;
  border: 0.09rem solid black;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.myBtn:hover {
  background-color: #cc0000;
}


.fa-paper-plane {
  color: #ff0000;
}

.fa-paper-plane:hover {
  color: #f4efef;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/* Modal video pokemons page */

.player-wrapper {
  position: relative;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.modal2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 1);
  opacity: 1;
  transform: scale(1); 
  transition: opacity 2s ease-out, transform 1.2s ease-in-out;
}

.fade-out {
  opacity: 0.5;
  transform: scale(0);
  pointer-events: none;
}



/* Pokemons page */


.pokedex {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.pokedex video {
  position: absolute;
  top: 0;
left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8; 
  object-fit: cover;
}


.pokedex video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}

.myHeader {
  background-color: #ff0000;
  height: 15vh;
  min-height: 8vh;
  width: 100%;
}

.logo {
  top: 0;
  left: 26%;
  width: 50%;
  min-width: 50%;
  margin-bottom: 5rem;
}

.pokemonPage-main {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pokemonPage-main section {
  margin-top: 1rem;
}

.pokemonList-section {
  height: 100%;
}

.pokemonsList {
  margin-top: 14rem;
}

.pokemonsList h3 {
  font-size: 2rem;
}

.myForm {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.myInput {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0.5rem;
  border-radius: 0 0 0 1rem;
  border: 0.14rem solid black;
  width: 12rem;
  height: 2.4rem;
}

.myForm button {
  background-color: #ff0000;
  border: 0.14rem solid black;
  border-radius: 0 1rem 0 0;
  height: 2.4rem;
  width: 2rem;
}

select {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.pokemonsList {
  height: 100%;
  position: relative;
}

.pokemonsList h3 {
  margin-top: 10rem;
}

.allPoke {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
  height: 100vh;
}

.itemDiv {
  max-width: 30rem;
  height: 15rem;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  margin: 3rem;
  width: 20rem;
  justify-content: center;
  align-items: center;
  border: 0.1 solid black;

  box-shadow:
    inset -0.5em -0.5em rgba(0, 0, 0, 0.04),
    0 0 2px rgba(0, 0, 0, 0.1),
    0px 7px 29px 0px rgba(100, 100, 111, 0.9);
}

.itemDiv:hover {
  height: 20rem;
}

.itemDiv .cardImg {
  position: relative;
  width: 15rem;
  max-height: 15rem;
  top: -0.2rem;
  background-color: rgba(5, 136, 235, 0.4);
}

.itemDiv .content {
  position: relative;
  margin-top: -0.1rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.itemDiv:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: 2rem;
}

ul {
  columns: 1;
}

.col3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col3 li {
  list-style: none;
}

.my1Image {
  max-width: 100%;
  height: 8rem;
}

.bigBtn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.pokeDiv {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 14rem;
}

.pokeDiv input {
  width: 3rem;
  height: 2rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
  border: 0.1rem solid black;
}

.pokeDiv p {
  margin: 1rem 0;
}


.pokeBtn {
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0.5rem;
  border: none;
}


.fa-caret-right,
.fa-caret-left {
  width: 2rem;
  color: white;
}

.numBtn {
  height: 2rem;
  width: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0.2rem;
  border: none;
  border-radius: 10%;
}

/* Pagination */

.pagination {
  margin: 2rem;
}

.pagination-btn {
  background-color: rgba(0, 0, 0, 0.596);
  margin: 0.2rem;
}

/* item window */

.my1Image {
  margin: 1rem;
}



@media(max-width:900px) {
  .logo {
    width: 50rem;
    max-width: 90%;
    min-width: 80%;
    margin-top: 2.5rem;
}
  .pokemonsList {
    margin-top: 3rem;
  }

  .myForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 3rem;
  }
}