/* Details page */

.details {
    height: 100vh;
}

.imgTitle {
    margin: 0;
    width: 45%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.details h1 {
    text-transform: uppercase;
    font-size: 2rem;
    filter: drop-shadow(5px 8px 32px rgba(31, 38, 135, 0.8));

}

.card {
    position: relative;
    width: 40rem;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    overflow: hidden;
    margin: 0 auto;
}

.card:hover {
    width: 100%;

}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    clip-path: circle(20% at center);
    transition: 0.5s;
}

.card:hover .circle:before {
    background-color: #f3bb0e;
    clip-path: circle(50% at center);
}



.imgDetails {
    width: 50%;
    height: 29rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(5px 8px 32px rgba(31, 38, 135, 0.8));

}

.card:hover .imgDetails {
    left: 60%;
    width: 50%;
}

.grassImg {
    width: 60%;
    height: 4rem;
    position: relative;
    top: 29rem;
    left: 0;
    object-fit: inherit;
}

.card .content {
    position: relative;
    width: 50%;
    padding: auto;
    left: 5%;
    visibility: hidden;
}

.card:hover .content {
    left: 0;
    visibility: visible;
}

/*  */

.measures {
    display: flex;
    justify-content: left;
    align-items: center;

}

.heightColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 3rem;
    margin-right: 0.5rem;
    margin-top: 0;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

}

.heightColumn {
    background-color: rgba(144, 137, 137, 0.3);
    font-size: 1.5rem;
}

.weightColumn {
    display: flex;
    align-items: right;
    font-size: 1.5rem;
    background-color: rgba(144, 137, 137, 0.3);
    width: 8rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

}

.abilities,
.stats {
    max-width: 18rem;
    background-color: rgba(144, 137, 137, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

}

.abilitiesUl {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.abilitiesUl li {
    margin: 1rem;
    display: inline;
    background-color: white;
    height: 2rem;
    width: 15rem;
    text-align: center;

}

.statsUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;

}

.statsUl li {
    margin: 1rem;
    display: inline;
    background-color: white;
    height: 2rem;
    width: 90%;
    text-align: center;

}


/* Modals detail Page */

.modalBtn {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: #f3bb0e;
}

.fa-xmark {
    font-weight: bold;
}

.btnImg {
    filter: drop-shadow(5px 8px 32px rgba(31, 38, 135, 0.8));
    position: absolute;
    top: 59%;
    left: 9rem;
    width: 8vw;
    cursor: pointer;

}

.btnImg1 {
    filter: drop-shadow(5px 8px 32px rgba(31, 38, 135, 0.8));
    position: absolute;
    top: 59%;
    right: 9rem;
    width: 8vw;
    cursor: pointer;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}


.containerModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-width: 16rem;
    height: auto;
    background-color: white;
    margin-top: 1rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem;
}

.containerModal1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    min-width: 20rem;
    height: 30rem;
    background-color: white;
    margin-top: 1rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.containerModal ul {
    columns: 5;
    -webkit-columns: 5;
    -moz-columns: 5;
}

.containerModal li {
    font-size: 0.8rem;
}

.containerModal button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.containerModal1 button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.modalImg {
    width: 10rem;

}


@media (max-width:991px) {
    .card {
        width: auto;
        max-width: 350px;
        align-items: flex-start;
    }

    .card:hover {
        height: 900px;
    }

    .card:hover .circle:before {
        background-color: #f3bb0e;
        clip-path: circle(38% at center);
    }

    .card .content {
        width: 100%;
        left: 0;
        top: 40%;
        padding: 40px;
    }

    .card:hover .content {

        top: 30%;
        height: 50%;
        width: 50%;
    }

    .imgDetails {
        top: 20%;
        height: 40%;
        margin: auto 0;

    }

    .card:hover .imgDetails {
        bottom: 50%;
        right: 60%;
        width: 50%;
    }

    .imgTitle {
        width: 100%;
    }

    .details h1 {
        font-size: 1rem;
    }

    .heightColumn,
    .weightColumn {
        font-size: 90%;
    }

    li {
        font-size: 80%;
    }

    h2 {
        font-size: 90%;
    }

    .btnImg {
        position: absolute;
        top: 38%;
        left: 3rem;
        width: 9vw;
        cursor: pointer;
        /* filter: drop-shadow rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    }

    .btnImg1 {
        position: absolute;
        top: 38%;
        right: 3rem;
        width: 9vw;
        cursor: pointer;
        /* filter: drop-shadow rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    }

    .containerModal ul {
        height: 100%;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;

    }

    .containerModal {
        height: 100%;
    }

    .modalImg {
        margin-top: 5rem;
    }

    .containerModal {
        height: 20rem;
        max-width: 20rem;
        /* height: 100%; */
        /* width: 50%; */
        overflow-y: scroll;

    }

   
    
}